extends layout.pug

block content
  form(action="/auth/login", method="POST")
    p
      input(type="text", name="username", value="hyojin", placeholder="Enter a username")
    p
      input(type="password", name="password", value="lee", placeholder="Enter the password")
    button(type="submit") LogIn!