extends layout.pug

block content
  form(action="/auth/signup", method="POST")
    p
      input(type="text", name="username", placeholder="Enter a username")
    p
      input(type="password", name="password", placeholder="Enter the password")
    button(type="submit") Signup!